/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lavender;
  color: black;
}

h1 {
  font-family: verdana, arial, sans-serif; 
  color: purple;
}

button {
  padding: 10px;
  border-radius: 7px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

#button1 {
  background: pink
}
#button1:active, #button1.lit {
  background: red;
}

#button2 {
  background: lightyellow
}
#button2:active, #button2.lit {
  background: yellow;
}

#button3 {
  background: lightgreen;
}
#button3:active, #button3.lit {
  background: green;
}

#button4 {
  background: lightblue
}
#button4:active, #button4.lit {
  background: blue;
}

#button5 {
  background: plum;
}
#button5:active, #button5.lit {
  background: purple;
}

.hidden {
  display: none;
}